<section class="lista-curriculos d-flex flex-wrap gap-3">
  <div *ngFor="let curriculo of curriculos">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Nome: {{ curriculo.nome }}</h5>
        <p class="card-text">Formação: {{ curriculo.formacao }}</p>
        <p class="card-text">Experiência: {{ curriculo.experiencia }}</p>
        <p class="card-text">Habilidades: {{ curriculo.habilidades }}</p>
        <p class="card-text">
          LinkedIn:
          <a [href]="curriculo.linkedin" target="_blank">Perfil</a>
        </p>
      </div>
    </div>
  </div>
</section>
