nav{
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
}

nav a{
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: bold;
    font-size: 4vh;
    font-family: "Comic Sans MS";
}