<h2>Cadastrar Currículo</h2>
<form>
  <label>Formação</label>
  <input type="text" name="formacao" [(ngModel)]="curriculo.formacao" /><br />

  <label>Experiência</label>
  <textarea name="experiencia" [(ngModel)]="curriculo.experiencia"></textarea><br />

  <label>Habilidades</label>
  <textarea name="habilidades" [(ngModel)]="curriculo.habilidades"></textarea><br />

  <label>LinkedIn</label>
  <textarea name="linkedin" [(ngModel)]="curriculo.linkedin"></textarea><br />

  <label>Usuário ID</label>
<input type="number" name="usuarioId" [(ngModel)]="curriculo.usuarioId" /><br />

 <button type="button" (click)="cadastrar()">Cadastrar curriculo</button>
 <button type="button" (click)="excluir(curriculo.id)">Excluir curriculo</button>
  <button type="button" (click)="atualizar(curriculo.id)">Atualizar curriculo</button>
</form>

<section class="lista-curriculos">
  <table class="table">
    <thead>
      <tr>
        <th>Código do Currículo</th>
        <th>Formação</th>
        <th>Experiência</th>
        <th>Habilidades</th>
        <th>LinkedIn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curriculo of curriculos" class="curriculo-row">
        <td>{{ curriculo.id }}</td>
        <td>{{ curriculo.formacao }}</td>
        <td>{{ curriculo.experiencia }}</td>
        <td>{{ curriculo.habilidades }}</td>
        <td>{{ curriculo.linkedin }}</td>
        <td>
          <button type="button" (click)="listarCurriculoUnico(curriculo)" class="btn-listar">
            Listar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="rodape"></div>