<section class="lista-curriculos d-flex flex-wrap gap-3">
  <div *ngFor="let curriculo of curriculos">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Código do Currículo: {{ curriculo.id }}</h5>
        <h5 class="card-title">Formação: {{ curriculo.formacao }}</h5>
        <p class="card-text">Experiência: {{ curriculo.experiencia }}</p>
        <p class="card-text">Habilidades: {{ curriculo.habilidades }}</p>
        <p class="card-text">LinkedIn: {{curriculo.linkedin}}</p>
      </div>
    </div>
  </div>
</section>