/* estilização para o formulário da tarefa */

form {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

input {
    padding: 20px;
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 5px;
    width: 300px;
}

.btnEnviar {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.btnEnviar:hover {
    background-color: #4cae4c;
}